USE [bd_biblio]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 21/10/2016 11:41:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[alumnos](
	[codalumno] [varchar](10) NOT NULL,
	[nombre] [varchar](150) NULL,
	[telefono] [varchar](9) NULL,
	[numPrestados] [int] NULL,
 CONSTRAINT [PK_alumnos] PRIMARY KEY CLUSTERED 
(
	[codalumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[autores]    Script Date: 21/10/2016 11:41:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[autores](
	[codautor] [int] IDENTITY(1,1) NOT NULL,
	[autor] [varchar](50) NULL,
 CONSTRAINT [PK_autores] PRIMARY KEY CLUSTERED 
(
	[codautor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[autorexlibro]    Script Date: 21/10/2016 11:41:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autorexlibro](
	[codlibro] [int] NULL,
	[codautor] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[editoriales]    Script Date: 21/10/2016 11:41:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[editoriales](
	[codeditorial] [int] IDENTITY(1,1) NOT NULL,
	[editorial] [varchar](50) NULL,
 CONSTRAINT [PK_editoriales] PRIMARY KEY CLUSTERED 
(
	[codeditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ejemplares]    Script Date: 21/10/2016 11:41:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ejemplares](
	[codejemplar] [int] IDENTITY(1,1) NOT NULL,
	[codestado] [int] NULL,
	[codlibro] [int] NULL,
 CONSTRAINT [PK_ejemplares] PRIMARY KEY CLUSTERED 
(
	[codejemplar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[estados]    Script Date: 21/10/2016 11:41:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[estados](
	[codestado] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](30) NULL,
 CONSTRAINT [PK_estados] PRIMARY KEY CLUSTERED 
(
	[codestado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[idiomas]    Script Date: 21/10/2016 11:41:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[idiomas](
	[codidioma] [int] IDENTITY(1,1) NOT NULL,
	[idioma] [varchar](40) NULL,
 CONSTRAINT [PK_idiomas] PRIMARY KEY CLUSTERED 
(
	[codidioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[libros]    Script Date: 21/10/2016 11:41:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[libros](
	[codlibro] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](150) NULL,
	[codtema] [int] NULL,
	[codeditorial] [int] NULL,
	[codidioma] [int] NULL,
	[precio] [money] NULL,
	[year] [int] NULL,
	[donado] [char](1) NULL CONSTRAINT [DF_libros_donado]  DEFAULT ((0)),
 CONSTRAINT [PK_libros] PRIMARY KEY CLUSTERED 
(
	[codlibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[prestamos]    Script Date: 21/10/2016 11:41:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[prestamos](
	[codprestamo] [int] IDENTITY(1,1) NOT NULL,
	[codejemplar] [int] NULL,
	[fechaprestamo] [date] NULL,
	[fechadevolucion] [date] NULL,
	[fecharealdevo] [date] NULL,
	[codalumno] [varchar](10) NULL,
 CONSTRAINT [PK_prestamos] PRIMARY KEY CLUSTERED 
(
	[codprestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tematicas]    Script Date: 21/10/2016 11:41:42 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tematicas](
	[codtema] [int] IDENTITY(1,1) NOT NULL,
	[tema] [varchar](150) NULL,
 CONSTRAINT [PK_temas] PRIMARY KEY CLUSTERED 
(
	[codtema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[alumnos] ([codalumno], [nombre], [telefono], [numPrestados]) VALUES (N'122311', N'Mario Guzman', N'7190-9844', 2)
GO
INSERT [dbo].[alumnos] ([codalumno], [nombre], [telefono], [numPrestados]) VALUES (N'234324', N'José Guzman', N'7001-4439', 1)
GO
INSERT [dbo].[alumnos] ([codalumno], [nombre], [telefono], [numPrestados]) VALUES (N'234932', N'Claudia Ruíz', N'7701-4554', 1)
GO
SET IDENTITY_INSERT [dbo].[autores] ON 

GO
INSERT [dbo].[autores] ([codautor], [autor]) VALUES (1, N'Enrique Palacios')
GO
INSERT [dbo].[autores] ([codautor], [autor]) VALUES (2, N'Fernando Remiro')
GO
INSERT [dbo].[autores] ([codautor], [autor]) VALUES (3, N'Lucas J. López')
GO
SET IDENTITY_INSERT [dbo].[autores] OFF
GO
INSERT [dbo].[autorexlibro] ([codlibro], [codautor]) VALUES (1, 10)
GO
INSERT [dbo].[autorexlibro] ([codlibro], [codautor]) VALUES (2, 6)
GO
INSERT [dbo].[autorexlibro] ([codlibro], [codautor]) VALUES (2, 7)
GO
SET IDENTITY_INSERT [dbo].[editoriales] ON 

GO
INSERT [dbo].[editoriales] ([codeditorial], [editorial]) VALUES (1, N'Pearson')
GO
INSERT [dbo].[editoriales] ([codeditorial], [editorial]) VALUES (2, N'Mc Graw Hill')
GO
INSERT [dbo].[editoriales] ([codeditorial], [editorial]) VALUES (3, N'AlfaOmega')
GO
SET IDENTITY_INSERT [dbo].[editoriales] OFF
GO
SET IDENTITY_INSERT [dbo].[ejemplares] ON 

GO
INSERT [dbo].[ejemplares] ([codejemplar], [codestado], [codlibro]) VALUES (1, 3, 1)
GO
INSERT [dbo].[ejemplares] ([codejemplar], [codestado], [codlibro]) VALUES (2, 3, 1)
GO
INSERT [dbo].[ejemplares] ([codejemplar], [codestado], [codlibro]) VALUES (3, 2, 1)
GO
SET IDENTITY_INSERT [dbo].[ejemplares] OFF
GO
SET IDENTITY_INSERT [dbo].[estados] ON 

GO
INSERT [dbo].[estados] ([codestado], [estado]) VALUES (1, N'Disponible')
GO
INSERT [dbo].[estados] ([codestado], [estado]) VALUES (2, N'Reservado')
GO
INSERT [dbo].[estados] ([codestado], [estado]) VALUES (3, N'Prestado')
GO
SET IDENTITY_INSERT [dbo].[estados] OFF
GO
SET IDENTITY_INSERT [dbo].[idiomas] ON 

GO
INSERT [dbo].[idiomas] ([codidioma], [idioma]) VALUES (1, N'Español')
GO
INSERT [dbo].[idiomas] ([codidioma], [idioma]) VALUES (2, N'Inglés')
GO
INSERT [dbo].[idiomas] ([codidioma], [idioma]) VALUES (3, N'Portugués')
GO
SET IDENTITY_INSERT [dbo].[idiomas] OFF
GO
SET IDENTITY_INSERT [dbo].[libros] ON 

GO
INSERT [dbo].[libros] ([codlibro], [titulo], [codtema], [codeditorial], [codidioma], [precio], [year], [donado]) VALUES (1, N'Análisis y Diseño Orientado a Objetos con aplicaciones', 14, 4, 1, 45.0000, 2013, N'N')
GO
INSERT [dbo].[libros] ([codlibro], [titulo], [codtema], [codeditorial], [codidioma], [precio], [year], [donado]) VALUES (2, N'Análisis y Diseño de Circuitos Lógicos Digitales', 13, 1, 1, 57.0000, 2014, N'N')
GO
INSERT [dbo].[libros] ([codlibro], [titulo], [codtema], [codeditorial], [codidioma], [precio], [year], [donado]) VALUES (3, N'Estructura de datos', 12, 2, 1, 60.0000, 2012, N'N')
GO
SET IDENTITY_INSERT [dbo].[libros] OFF
GO
SET IDENTITY_INSERT [dbo].[prestamos] ON 

GO
INSERT [dbo].[prestamos] ([codprestamo], [codejemplar], [fechaprestamo], [fechadevolucion], [fecharealdevo], [codalumno]) VALUES (1, 1, CAST(N'2016-10-01' AS Date), CAST(N'2016-10-03' AS Date), CAST(N'2016-10-02' AS Date), N'122311')
GO
INSERT [dbo].[prestamos] ([codprestamo], [codejemplar], [fechaprestamo], [fechadevolucion], [fecharealdevo], [codalumno]) VALUES (2, 4, CAST(N'2016-10-01' AS Date), CAST(N'2016-10-03' AS Date), CAST(N'2016-10-04' AS Date), N'122311')
GO
INSERT [dbo].[prestamos] ([codprestamo], [codejemplar], [fechaprestamo], [fechadevolucion], [fecharealdevo], [codalumno]) VALUES (3, 5, CAST(N'2016-10-01' AS Date), CAST(N'2016-10-03' AS Date), CAST(N'2016-10-02' AS Date), N'892311')
GO
SET IDENTITY_INSERT [dbo].[prestamos] OFF
GO
SET IDENTITY_INSERT [dbo].[tematicas] ON 

GO
INSERT [dbo].[tematicas] ([codtema], [tema]) VALUES (1, N'Informática')
GO
INSERT [dbo].[tematicas] ([codtema], [tema]) VALUES (2, N'Matemática')
GO
INSERT [dbo].[tematicas] ([codtema], [tema]) VALUES (3, N'Sociales')
GO
SET IDENTITY_INSERT [dbo].[tematicas] OFF
GO
ALTER TABLE [dbo].[autorexlibro]  WITH CHECK ADD  CONSTRAINT [FK_autorexlibro_autores] FOREIGN KEY([codautor])
REFERENCES [dbo].[autores] ([codautor])
GO
ALTER TABLE [dbo].[autorexlibro] CHECK CONSTRAINT [FK_autorexlibro_autores]
GO
ALTER TABLE [dbo].[autorexlibro]  WITH CHECK ADD  CONSTRAINT [FK_autorexlibro_libros] FOREIGN KEY([codlibro])
REFERENCES [dbo].[libros] ([codlibro])
GO
ALTER TABLE [dbo].[autorexlibro] CHECK CONSTRAINT [FK_autorexlibro_libros]
GO
ALTER TABLE [dbo].[ejemplares]  WITH CHECK ADD  CONSTRAINT [FK_ejemplares_estados] FOREIGN KEY([codestado])
REFERENCES [dbo].[estados] ([codestado])
GO
ALTER TABLE [dbo].[ejemplares] CHECK CONSTRAINT [FK_ejemplares_estados]
GO
ALTER TABLE [dbo].[ejemplares]  WITH CHECK ADD  CONSTRAINT [FK_ejemplares_libros] FOREIGN KEY([codlibro])
REFERENCES [dbo].[libros] ([codlibro])
GO
ALTER TABLE [dbo].[ejemplares] CHECK CONSTRAINT [FK_ejemplares_libros]
GO
ALTER TABLE [dbo].[libros]  WITH CHECK ADD  CONSTRAINT [FK_libros_editoriales] FOREIGN KEY([codeditorial])
REFERENCES [dbo].[editoriales] ([codeditorial])
GO
ALTER TABLE [dbo].[libros] CHECK CONSTRAINT [FK_libros_editoriales]
GO
ALTER TABLE [dbo].[libros]  WITH CHECK ADD  CONSTRAINT [FK_libros_idiomas] FOREIGN KEY([codidioma])
REFERENCES [dbo].[idiomas] ([codidioma])
GO
ALTER TABLE [dbo].[libros] CHECK CONSTRAINT [FK_libros_idiomas]
GO
ALTER TABLE [dbo].[libros]  WITH CHECK ADD  CONSTRAINT [FK_libros_temas] FOREIGN KEY([codtema])
REFERENCES [dbo].[tematicas] ([codtema])
GO
ALTER TABLE [dbo].[libros] CHECK CONSTRAINT [FK_libros_temas]
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD  CONSTRAINT [FK_prestamos_alumnos] FOREIGN KEY([codalumno])
REFERENCES [dbo].[alumnos] ([codalumno])
GO
ALTER TABLE [dbo].[prestamos] CHECK CONSTRAINT [FK_prestamos_alumnos]
GO
ALTER TABLE [dbo].[prestamos]  WITH CHECK ADD  CONSTRAINT [FK_prestamos_ejemplares] FOREIGN KEY([codejemplar])
REFERENCES [dbo].[ejemplares] ([codejemplar])
GO
ALTER TABLE [dbo].[prestamos] CHECK CONSTRAINT [FK_prestamos_ejemplares]
GO
