﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    @Html.ActionLink("LINQ EJEMPLOS", "Index", "Inicio", null, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("SELECT con JOIN", "Index", "Inicio", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Comando WHERE","Alumno","Inicio",null, new {@class="nav-link"})
            </li>
            <li class="nav-item">
                @Html.ActionLink("Comando INSERT y Procedimientos", "InsertarLibro", "Inicio", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("SELECT simple", "VerAlumnos", "Inicio", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("ORDER,GROUP BY y Funciones", "HistorialPrestamos", "Inicio", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Vistas", "Autores", "Inicio", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Update", "ModificarAlumno", "Inicio", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Delete", "BorrarAlumno", "Inicio", null, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Arreglo", "ArregloNumeros", "Inicio", null, new { @class = "nav-link" })
            </li>
        </ul>
    </div>
</nav>  
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Grupo 1 Programacion Orientada a Objetos</p>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../Scripts/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script>
</body>
</html>
