@model IEnumerable<LINQ_Ejemplo.Models.VistaxAutores>
@{
    ViewBag.Title = "Autores";
}

<h2>Uso de vistas</h2>

<table class="table table-striped table-dark table-responsive-sm table-responsive-md">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.autor)
            </td>
            <td>
                @Html.DisplayFor(model => item.titulo)
            </td>
        </tr>
    }
</table>

