@model LINQ_Ejemplo.Models.alumnos
@{
    ViewBag.Title = "Borrar Alumno";
}
<br />
<h2>Comando Delete</h2>

@using (Html.BeginForm("BorrarAlumno", "Inicio", FormMethod.Post))
{ 
<div class="form-group">
    @Html.DropDownListFor(model => model.codalumno, new SelectList(ViewBag.alumnos, "codalumno", "nombre"), new { @class = "form-control" })
</div>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#borrar">
        Borrar Alumno
    </button>
    <div class="modal fade" id="borrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro que desea borrar el usuario?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Si borra este usuario ya no podra recuperar la informacion
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger" value="submit">Borrar</button>
                </div>
            </div>
        </div>
    </div>
}

