﻿@model IEnumerable<LINQ_Ejemplo.Models.DetalleLibro>
@{
    ViewBag.Title = "Detalle Libro";
}

<h2>Comando Select con join</h2>
<table class="table table-striped table-dark table-responsive-sm table-responsive-md">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codlibro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tema)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idioma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Codlibro)
            </td>
            <td>
                @Html.DisplayFor(model => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(model => item.Tema)
            </td>
            <td>
                @Html.DisplayFor(model => item.Editorial)
            </td>
            <td>
                @Html.DisplayFor(model => item.Idioma)
            </td>
            <td>
                @Html.DisplayFor(model => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(model => item.Year)
            </td>
        </tr>
    }
</table>
