﻿@model LINQ_Ejemplo.Models.libros
@{
    ViewBag.Title = "Insertar Libro";
}
<h2>Comando Insert con procedimiento Almacenado</h2>

@using (Html.BeginForm("InsertarLibro", "Inicio", FormMethod.Post))
{
    if (ViewData["regresar"].ToString() != "index")
    {
        @Html.AntiForgeryToken()
        <form>
            <div class="form-group">
                Titulo:
                <p></p>
                @Html.TextBoxFor(model => model.titulo,new {@class="form-control"})
            </div>

            <div class="form-group">
                Tematica:
                <p></p>
                @Html.DropDownListFor(model => model.codtema, new SelectList(ViewBag.tema, "codtema", "tema"),new { @class = "form-control" })
            </div>
            <div class="form-group">
                Editorial:
                <p></p>
                @Html.DropDownListFor(model => model.codeditorial, new SelectList(ViewBag.edito, "codeditorial", "editorial"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                Idioma:
                <p></p>
                @Html.DropDownListFor(model => model.codidioma, new SelectList(ViewBag.idioma, "codidioma", "idioma"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                Autor:
                <p></p>
                @Html.DropDownListFor(model => model.codlibro, new SelectList(ViewBag.autor, "codautor", "autor"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                precio:
                <p></p>
                @Html.TextBoxFor(model => model.precio,new {@class="form-control"})
            </div>
            <div class="form-group">
                Año:
                <p></p>
                @Html.TextBoxFor(model => model.year, new { @class = "form-control" })
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(model => model.donado, 1,new {@class="form-check-input",@checked="checked"})
                <label class="form-check-label">
                    Sí
                </label>
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(model => model.donado, 0,new {@class="form-check-input"})
                <label class="form-check-label">
                    No
                </label>
            </div>
            <button type="submit" class="btn btn-primary" value="submit">Agregar</button>
        </form>
    }

    if (ViewData["regresar"].Equals("index"))
    {
          <div class="alert alert-success" role="alert">
              El libro se agregado con exito, Volver a @Html.ActionLink("Inicio", "Index", "Inicio", null)
          </div> 
      }
 }

